core/src/test/resources/wsdl/state_machine/response_header_part.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://specmatic.io/response-header-part"
    xmlns:rh="http://specmatic.io/response-header-part/headers"
    targetNamespace="http://specmatic.io/response-header-part">
    <wsdl:types>
        <xsd:schema targetNamespace="http://specmatic.io/response-header-part" elementFormDefault="qualified">
            <xsd:element name="HeaderPartRequest" type="xsd:string"/>
            <xsd:element name="HeaderPartResponse" type="xsd:string"/>
        </xsd:schema>

        <xsd:schema targetNamespace="http://specmatic.io/response-header-part/headers" elementFormDefault="qualified">
            <xsd:element name="ClientHeader" type="rh:ClientHeaderType"/>
            <xsd:complexType name="ClientHeaderType">
                <xsd:sequence>
                    <xsd:element name="ClientId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ResponseHeader" type="rh:ResponseHeaderType"/>
            <xsd:complexType name="ResponseHeaderType">
                <xsd:sequence>
                    <xsd:element name="Headers" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="HeaderPartRequestMessage">
        <wsdl:part name="payload" element="tns:HeaderPartRequest"/>
    </wsdl:message>

    <wsdl:message name="HeaderPartResponseMessage">
        <wsdl:part name="payload" element="tns:HeaderPartResponse"/>
    </wsdl:message>

    <wsdl:message name="ClientHeaderMessage">
        <wsdl:part name="ClientHeader" element="rh:ClientHeader"/>
    </wsdl:message>

    <wsdl:message name="ResponseHeaderMessage">
        <wsdl:part name="ResponseHeader" element="rh:ResponseHeader"/>
    </wsdl:message>

    <wsdl:portType name="ResponseHeaderPartPortType">
        <wsdl:operation name="ResponseHeaderPartOperation">
            <wsdl:input message="tns:HeaderPartRequestMessage"/>
            <wsdl:output message="tns:HeaderPartResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ResponseHeaderPartBinding" type="tns:ResponseHeaderPartPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ResponseHeaderPartOperation">
            <soap:operation soapAction="/response-header-part/operation"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:ClientHeaderMessage" part="ClientHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:ResponseHeaderMessage" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ResponseHeaderPartService">
        <wsdl:port name="ResponseHeaderPartPort" binding="tns:ResponseHeaderPartBinding">
            <soap:address location="http://specmatic.io/response-header-part"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
