core/src/test/resources/wsdl/state_machine/scalar_choice_repeating_unbounded.wsdl

<definitions name="RepeatingScalarChoiceUnboundedService"
             targetNamespace="http://choice-scalar-repeating-unbounded"
             xmlns:tns="http://choice-scalar-repeating-unbounded"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="http://choice-scalar-repeating-unbounded" elementFormDefault="qualified">
            <xsd:element name="PrimaryName" type="xsd:string"/>
            <xsd:element name="CustomerNumber" type="xsd:string"/>
            <xsd:element name="LoginId" type="xsd:string"/>
            <xsd:element name="StatusCode" type="xsd:string"/>

            <xsd:element name="RepeatingScalarChoiceUnboundedRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:PrimaryName"/>
                        <xsd:choice maxOccurs="unbounded">
                            <xsd:element ref="tns:CustomerNumber"/>
                            <xsd:element ref="tns:LoginId"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="RepeatingScalarChoiceUnboundedResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:StatusCode"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="RepeatingScalarChoiceUnboundedRequestMessage">
        <part name="parameters" element="tns:RepeatingScalarChoiceUnboundedRequest"/>
    </message>

    <message name="RepeatingScalarChoiceUnboundedResponseMessage">
        <part name="parameters" element="tns:RepeatingScalarChoiceUnboundedResponse"/>
    </message>

    <portType name="RepeatingScalarChoiceUnboundedPortType">
        <operation name="repeatingScalarChoiceUnbounded">
            <input message="tns:RepeatingScalarChoiceUnboundedRequestMessage"/>
            <output message="tns:RepeatingScalarChoiceUnboundedResponseMessage"/>
        </operation>
    </portType>

    <binding name="RepeatingScalarChoiceUnboundedBinding" type="tns:RepeatingScalarChoiceUnboundedPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="repeatingScalarChoiceUnbounded">
            <soap:operation soapAction="/choice-scalar-repeating-unbounded/repeatingScalarChoiceUnbounded"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="RepeatingScalarChoiceUnboundedService">
        <port name="RepeatingScalarChoiceUnboundedPort" binding="tns:RepeatingScalarChoiceUnboundedBinding">
            <soap:address location="http://localhost:9000/choice-scalar-repeating-unbounded"/>
        </port>
    </service>
</definitions>
