core/src/test/resources/wsdl/state_machine/scalar_choice_repeating_min2.wsdl

<definitions name="RepeatingScalarChoiceMinTwoService"
             targetNamespace="http://choice-scalar-repeating-min2"
             xmlns:tns="http://choice-scalar-repeating-min2"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="http://choice-scalar-repeating-min2" elementFormDefault="qualified">
            <xsd:element name="PrimaryName" type="xsd:string"/>
            <xsd:element name="CustomerNumber" type="xsd:string"/>
            <xsd:element name="LoginId" type="xsd:string"/>
            <xsd:element name="StatusCode" type="xsd:string"/>

            <xsd:element name="RepeatingScalarChoiceMinTwoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:PrimaryName"/>
                        <xsd:choice minOccurs="2" maxOccurs="2">
                            <xsd:element ref="tns:CustomerNumber"/>
                            <xsd:element ref="tns:LoginId"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="RepeatingScalarChoiceMinTwoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:StatusCode"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="RepeatingScalarChoiceMinTwoRequestMessage">
        <part name="parameters" element="tns:RepeatingScalarChoiceMinTwoRequest"/>
    </message>

    <message name="RepeatingScalarChoiceMinTwoResponseMessage">
        <part name="parameters" element="tns:RepeatingScalarChoiceMinTwoResponse"/>
    </message>

    <portType name="RepeatingScalarChoiceMinTwoPortType">
        <operation name="repeatingScalarChoiceMinTwo">
            <input message="tns:RepeatingScalarChoiceMinTwoRequestMessage"/>
            <output message="tns:RepeatingScalarChoiceMinTwoResponseMessage"/>
        </operation>
    </portType>

    <binding name="RepeatingScalarChoiceMinTwoBinding" type="tns:RepeatingScalarChoiceMinTwoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="repeatingScalarChoiceMinTwo">
            <soap:operation soapAction="/choice-scalar-repeating-min2/repeatingScalarChoiceMinTwo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="RepeatingScalarChoiceMinTwoService">
        <port name="RepeatingScalarChoiceMinTwoPort" binding="tns:RepeatingScalarChoiceMinTwoBinding">
            <soap:address location="http://localhost:9000/choice-scalar-repeating-min2"/>
        </port>
    </service>
</definitions>
