core/src/test/resources/wsdl/state_machine/type_ref.wsdl

<definitions name="TypeRefAPI"
             targetNamespace="http://typeref"
             xmlns:Typeref="http://typeref"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://typeref">
            <xsd:complexType name="CreateProduct">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="type" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CreatedProductId">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="CreateProductRequestMessage">
        <part name="parameters" type="Typeref:CreateProduct"/>
    </message>

    <message name="CreateProductResponseMessage">
        <part name="result" type="Typeref:CreatedProductId"/>
    </message>

    <portType name="TypeRefPortType">
        <operation name="createProductTypeRef">
            <input message="Typeref:CreateProductRequestMessage"/>
            <output message="Typeref:CreateProductResponseMessage"/>
        </operation>
    </portType>

    <binding name="TypeRefBinding" type="Typeref:TypeRefPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createProductTypeRef">
            <soap:operation soapAction="/orders/createProductTypeRef"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="TypeRefService">
        <port name="TypeRefPort" binding="Typeref:TypeRefBinding">
            <soap:address location="http://localhost:8090/type-ref"/>
        </port>
    </service>
</definitions>
